$color-black-clear: #000000;
$color-black: #080808;

$color-gray-darker: #222222;
$color-gray-dark: #333333;
$color-gray: #666666;
$color-gray-light: #d8d8d8;
$color-gray-lighter: #fbfbfc;

$color-white: #ffffff;
$color-white-light: rgba($color-white, 0.75);

$color-blue: #8aceff;
$color-blue-darker: #0094ff;
