$font-family-base: 'Inter', Arial, sans-serif !default;

$font-size-lg: 24px !default;
$font-size-md: 16px !default;
$font-size-sm: 14px !default;
$font-size-xs: 12px !default;
$font-size-xxs: 11px !default;
$font-size-xxxs: 8px !default;
$font-size-base: $font-size-sm !default;

$font-weight-extra-bold: 800 !default;
$font-weight-bold: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-regular: 400 !default;
$font-weight-base: $font-weight-regular !default;

$line-height-xxl: 1.83 !default;
$line-height-xl: 1.66 !default;
$line-height-lg: 1.58 !default;
$line-height-md: 1.5 !default;
$line-height-sm: 1.375 !default;
$line-height-xs: 1.33 !default;
$line-height-base: $line-height-lg !default;

$font-size-h1: 54px !default;
$font-size-h2: 48px !default;
$font-size-h3: 24px !default;
$font-size-h4: 16px !default;
$font-size-h5: $font-size-h4 !default;
$font-size-h6: $font-size-h4 !default;

$font-size-h1-md: 38px !default;
$font-size-h2-md: 32px !default;
$font-size-h3-md: 20px !default;
$font-size-h4-md: 16px !default;
$font-size-h5-md: $font-size-h3-md !default;
$font-size-h6-md: $font-size-h3-md !default;

$font-size-h1-xxs: 32px !default;
$font-size-h2-xxs: 32px !default;
$font-size-h3-xxs: 20px !default;
$font-size-h4-xxs: 16px !default;
$font-size-h5-xxs: $font-size-h3-xxs !default;
$font-size-h6-xxs: $font-size-h3-xxs !default;

$line-height-h1: 1.26 !default;
$line-height-h2: 1.29 !default;
$line-height-h3: 1.33 !default;
$line-height-h4: 1.5 !default;
$line-height-h5: $line-height-h4 !default;
$line-height-h6: $line-height-h4 !default;

$line-height-h1-md: 1.31 !default;
$line-height-h2-md: 1.31 !default;
$line-height-h3-md: 1.4 !default;
$line-height-h4-md: 1.5 !default;
$line-height-h5-md: $line-height-h4-md !default;
$line-height-h6-md: $line-height-h4-md !default;

$line-height-h1-xxs: 1.31 !default;
$line-height-h2-xxs: 1.31 !default;
$line-height-h3-xxs: 1.4 !default;
$line-height-h4-xxs: 1.5 !default;
$line-height-h5-xxs: $line-height-h4-xxs !default;
$line-height-h6-xxs: $line-height-h4-xxs !default;

$typography-margin-top: 0px !default;
$typography-margin-bottom: 0px !default;

$headings-font-family: $font-family-base !default;
$headings-font-weight: $font-weight-bold !default;
