mixin footer({ contacts, info, socials })
	footer.footer
		.footer__column
			+general-block({ contacts })
		.footer__column
			+general-block({ info })
		.footer__column
			+general-block({ socials })
