mixin bars()
	.bars.js-bars
		ul.bars__list
			li.bars__item
				.bars__bar.js-bar(style="height: 0;")
			li.bars__item
				.bars__bar.js-bar(style="height: 0;")
			li.bars__item
				.bars__bar.js-bar(style="height: 0;")
			li.bars__item
				.bars__bar.js-bar(style="height: 0;")
			li.bars__item
				.bars__bar.js-bar(style="height: 0;")
			li.bars__item
				.bars__bar.js-bar(style="height: 0;")
				