extends ../../templates/page
block head
	include ../../templates/head
	+head(htmlWebpackPlugin.options.data.head)
block content
	+header(htmlWebpackPlugin.options.generalData)
	main
		+faq(htmlWebpackPlugin.options.data.body)
